<div class="t-step highlight-grid">
  <header>{{ step.header }}</header>
  <main>
    <h2>{{ step.subheading }}</h2>
    <div class="t-step__fields">
      <div>{{ step.component1 }}</div>
      <div>{{ step.component2 }}</div>
      <div>{{ step.component3 }}</div>
      <div>{{ step.component4 }}</div>
      <div>{{ step.component5 }}</div>
    </div>
  </main>
  <footer>{{ step.footer }}</footer>
</div>
