<div class="t-step">
  {{ render '@header' }}
  <main>
    {{> @heading }}
    {{> @intro }}
    {{ render '@required' }}
    <div class="t-step__fields">
      {{ render '@summary' }}
      {{ render '@language' }}
      {{ render '@ethical' }}
      {{ render '@ethicsreport' }}
      {{ render '@primary' }}
      <h3>Other Staff (add/remove functionality coming soon)</h3>
      {{ render '@button--2' }}
      {{ render '@contributor' }}
      {{ render '@name' }}
      {{ render '@email' }}
      {{ render '@orcid' }}
      {{ render '@button--3' }}
    </div>
    {{ render '@progress' }}
  </main>
  {{ render '@footer' }}
</div>
