<div class="t-landing">
  {{ render '@header' }}
  <main>
    {{> @heading }}
    <h3>Data Management Plan</h3>
    <ul>
      <li><strong>Created:</strong> {{ landing.created }}</li>
      <li><strong>Modified:</strong> {{ landing.modified }}</li>
      <li><strong>Language:</strong> {{ landing.language }}</li>
      <li><strong>Project Start:</strong> {{ landing.start }}</li>
      <li><strong>Project End:</strong> {{ landing.end }}</li>
    </ul>
    <h3>Abstract</h3>
    <p>{{ landing.abstract }}</p>
    <h3>Primary Contact</h3>
    <ul>
      <li><strong>Name:</strong> {{ landing.name }}</li>
      <li>{{ render '@orcid' }}</li>
      <li><strong>Organization:</strong> {{ landing.organization }} <a href="">https://ror.org/01an7q238</a></li>
    </ul>
    <h3>Funding</h3>
    <p>{{ landing.funding }} <a href="">https://doi.org/10.13039/100000203</a></p>
    {{ render '@accordion' }}
    <h3>Datasets</h3>
    <ul>
      <li><strong>Type:</strong> {{ landing.type }}</li>
      <li><strong>Summary:</strong> {{ landing.summary }}</li>
      <li><strong>Language:</strong> {{ landing.language }}</li>
    </ul>
    {{ render '@accordion--2' }}
    <h3>Distribution</h3>
    <ul>
      <li><strong>Title:</strong> {{ landing.title }}</li>
      <li><strong>Summary:</strong> {{ landing.summary }}</li>
      <li><strong>Format:</strong> {{ landing.format }}</li>
      <li><strong>Byte Size:</strong> {{ landing.size }}</li>
    </ul>
    {{ render '@accordion--3' }}
  </main>
  {{ render '@footer' }}
</div>
