<div id="{{ fieldgroup.id }}" class="c-fieldgroup" aria-labelledby="{{ fieldgroup.arialabel }}" role="group">
  <span id="{{ fieldgroup.label.id }}" class="c-fieldgroup__label">{{ fieldgroup.label.text }}</span>
  <div>{{ fieldgroup.sample }}</div>
</div>
