<div id="{{ primary.id }}" class="c-fieldgroup" aria-labelledby="{{ primary.arialabel }}" role="group">
  <span id="{{ primary.label.id }}" class="c-fieldgroup__label">{{ primary.label.text }}</span>
  {{ render '@name' }}
  {{ render '@email' }}
  {{ render '@orcid' }}
</div>
